* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body {
  background-color: #111;
  color: #eee;
  font-family: monospace;
  max-width: 55rem;
  margin: auto;
  padding: 0 2.5rem;
}

footer {
  margin-bottom: 5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h1, h2 {
  margin-top: 2rem;
  margin-bottom: .5rem;
}

ul {
  padding-left: 1.25rem;
}

a {
  color: #3af;
  text-decoration: none;
}

dt {
  font-size: 1.1rem;
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

dd, dd * {
  font-size: .9rem;
  line-height: 1.25rem;
}

code {
  color: #090;
  user-select: all;
}

.note {
  color: #999;
  font-size: .9rem;
}

.note * {
  font-size: .9rem;
}
